#can_add{
    display: none;
}
#list{
    display: flex;
    flex-direction: column;
}
#input_ofer{
    width: 30%;
    margin-bottom: 100px;
    text-align: center;
}
button{
    margin: 20px;
}
body{
    padding-top: 50px;
}